*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.posts{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.post{
    margin: 0.2rem 3rem;
    padding: 0.2rem 0.6rem;
    border: 3px solid teal;
}